.footerContainer{
    width:100%;
}
.goUp{
    margin-bottom: 4em;
    text-align: center;
}  
.upImg{
    width:80px;
    cursor: pointer;
}
.upImg:hover{
    width:90px;
    transition: 0.3s;
}
.bottom{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    color: #24292e;
    font-style: italic;
}
.smallText{
    font-size: 14px;
    margin: 0 4px;
}
em{
    color: rgb(139, 209, 197);
    font-weight: bold;
}
