/* 헤더 설정 */
.headerContainer{
    top: 0;
    left: 0;
    width:100%;
    background: #24292e;
    font-size:1em;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 99999;
  }
  .headerList{
    width: 60%;
    margin: 20px;
  }
  .headerList>ul>li>a{
    color: white !important;
  }
  .headerList>ul>li>a:hover{
    font-size:1.2em;
    letter-spacing: 0.1em;
    transition: 0.3s;
  }
  .headerList>ul{
    display:flex;
    justify-content: space-between;
  }
