/* 헤더 설정 */
.headerContainer{
    top: 0;
    left: 0;
    width:100%;
    background: #24292e;
    color: white;
    font-size:1em;
    display: flex;
    justify-content: center;
    position: fixed;
  }
  .headerList{
    width: 60%;
    margin: 20px;
  }
  .headerList>ul{
    display:flex;
    justify-content: space-between;
  }
  .headerList li{
    cursor: pointer;
  }
  .goDown{
    margin-top: 6em;
    text-align: center;
  }  
  .downImg{
    width:70px;
    cursor: pointer;
  }