.home {
    height: 100vh;
    width: 100%;
    background-color: #24292e;
}
.goDown{
    background-color: white;
    width: 100%;
    margin-top: 6em;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-top: 50px;
}  
.downImg{
    background-color: #24292e;
    width:70px;
    cursor: pointer;
}
.downImg:hover{
    width:80px;
    transition: 0.3s;
}