/*Resume*/
.ResumeContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  #resumeTitle{
    align-self: center;
  }
  .education, .work, .skills{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
  }
  .details{
    font-size: 25px;
  }
  .detailBox{
    margin-bottom: 20px;
  }
  .skills{
    margin-bottom: 0 !important;
  }
  .title{
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: bold;
  }
  .term{
    font-size:18px;
    font-style: italic;
    color: rgb(71, 71, 71);
    padding-top: 5px;
  }
  .eduwork{
    display: flex;
    justify-content: space-between;
  }
  #skillInfo{
    display: flex;
    flex-wrap: wrap;
  }
  #skillInfo>img{
    margin-right: 20px;
  }
  .bigLogo {
    padding: 8px;
    box-sizing: border-box;
  }
  #skillInfo>img:last-child{
    margin-right: 0;
  }
  .stack {
    width: 80px;
    height: 80px;
  }
  .skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }
  .skillText {
    font-size: 12px;
    color: #616161;
  }