/* works */
.WorksContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .workWrap{
    display: flex;
    align-items: center;
  }
  .items{
    flex-basis: 0;
    flex: 1 1 150px;
  }
  
  .workImg{
    cursor: pointer;
    max-width: 100%;
	  width: 500px;
  }